
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
}

.board-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-text {
  font-size: 15px;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .board-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.board {
  margin: 20px 20px 5px 20px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.answer {
  display: flex;
  justify-content: center;
}

.game-info {
  margin-bottom: 20px;
}
