.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.menu-item {
  text-align: center;
  justify-content: center;
  padding: 0;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}

.menu-item:last-child {
  border-right: none;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2d2d2d;
  min-height: 8vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a:link {
  color: #ffffff;
  text-decoration: none;
}

.App-header a:visited {
  color: #ffffff;
  text-decoration: none;
}

.App-header a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.App-main {
  margin-top: 150px;
}

.App-link {
  color: #61dafb;
}

.centered-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-list ol {
  padding-left: 0;
}

.App-footer {
  max-width: 500px;
  border-top: 2px dotted #515151;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin: 10px auto;
  padding: 30px;
}

.icon{
  margin-right: 10px;
}

.App-home {
  background-color: #ffffff;
}

.App-about {
  background-color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
